
.compose-header {
  background: #C0392B;
  color: white;
  padding: 5px;
  padding-left: 10px;
  margin-bottom:15px;
}
.compose-container-maximaze {
  min-width: 90%;
  min-height: 90%;
  position: fixed;
  top: 5%;
  left: 5%;
  border: 1px solid black;
  background-color: white;
  z-index: 9999;
}
.compose-container {
  min-width: 500px;
  position: fixed;
  bottom: 0px;
  right: 10px;
  border: 1px solid black;
  background-color: white;
  z-index:9999;
}

.compose-header-button {
  width:15px;
  height:15px;
  float:right;
  cursor:pointer;
}
.compose-header-button:hover {
  background:#A0392B;
}
.compose-label {
  position:absolute;
  margin-left:10px;
}
.compose-input-to {
  padding-left:75px;
}
.compose-input-cc {
  padding-left:40px;
}
.compose-input-bcc {
  padding-left:50px;
}
.compose-input-subject {
  padding-left:60px;
}
.compose-label-cc-button {
  position: absolute;
  margin-top: 7px;
  right: 0;
  margin-right: 60px;
  cursor:pointer;
}
.compose-label-bcc-button {
  position: absolute;
  margin-top: 7px;
  right: 0;
  margin-right: 30px;
  cursor:pointer;
}
.compose-attachments {
  margin-top:15px;
}


.ac-container {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 999;
}
.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
  border-bottom: 1px dotted #ccc;
  line-height: 35px;
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}
.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}

/* Avatar Crop */
/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}
#message-content-frame {
  width : 500px;
  height : 500px;
}
