<div ng-controller="StartCtrl as start">
  <h4>Auth</h4>
  <input ng-model="credential.username" placeholder="username"></input>
  <br><input ng-model="credential.password" placeholder="password"></input>
  <br>IMAP configuration<br>
  <br><input ng-model="credential.imapHost" placeholder="host"></input>
  <br><input ng-model="credential.imapPort" placeholder="port"></input>
  <br><input ng-model="credential.imapTLS" placeholder="tls"></input>
  <br>SMTP configuration<br>
  <input ng-model="credential.smtpHost" placeholder="host"></input><br>
  <input ng-model="credential.smtpPort" placeholder="port"></input><br>
  <input ng-model="credential.smtpTLS" placeholder="tls"></input><br>
  <input ng-model="credential.smtpSecure" placeholder="secure"></input><br>
  <br><button ng-click="start.auth(credential)">Auth</button>
</div>
