<div class="login-body container-login" ng-controller="LoginCtrl as login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-8 hidden-xs">
                <div class="alert alert-default" role="alert">
                    <h3>{{'WELCOME' | translate}}</h3>
                    <p>PNSmail merupakan layanan surat elektronik untuk Pegawai Negeri Sipil sesuai dengan Surat Edaran Menteri Negara Pendayagunaan Aparatur Negara dan Reformasi Birokrasi Nomor 06 Tahun 2013.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <form class="form-signin well well-login" ng-submit="login.auth(credential)">
                    <img class="img-responsive" src="images/pnsmail-logo-big.svg">
                    <h2 class="form-signin-heading"></h2>
                    <label for="inputEmail" class="sr-only">{{'LOGIN_EMAIL' | translate}}</label>
                    <input ng-model="credential.username" type="email" id="inputEmail" class="form-control" placeholder="namapengguna@pnsmail.go.id" required autofocus>
                    <label for="inputPassword" class="sr-only">{{'LOGIN_PASSWORD' | translate}}</label>
                    <input ng-model="credential.password" type="password" id="inputPassword" class="form-control" placeholder="{{'LOGIN_PASSWORD' | translate}}" required>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="credential.rememberMe" ng-true-value="true" ng-false-value="false"> {{'LOGIN_REMEMBER_ME' | translate}}
                        </label>
                    </div>
                    <a href="">{{'LOGIN_FORGET_PASSWORD' | translate}}</a>
                    <button class="btn btn-lg btn-login btn-block" type="submit">{{'LOGIN' | translate}}</button>
                </form>				
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm"  style="background: #B92025; position: fixed; padding-top: 0px; padding-bottom: 0px; border-color: #B92025;">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <p class="copyright">&copy; 2015 <a href="http://pnsmail.go.id" style="color: #fff;">PNSMail</a></p>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#">{{'LOGIN_FAQ' | translate}}</a>
                </li>
                <li>
                  <a href="#">{{'LOGIN_ABOUT' | translate}}</a>
                </li>
                <li>
                    <a href="#">{{'LOGIN_TOS' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>
