<div class="login-body container-login" ng-controller="ForgetPasswordCtrl as ctrl">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="well">
              <h3>Reset Password</h3>
              <div ng-show="ctrl.stage == 0">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.account">
                </div>
                <a class="btn btn-login" href="#" ng-click="ctrl.resetPassword()" ng-disabled="!ctrl.isFormValid()">Reset</a>
              </div>
              <div ng-show="ctrl.stage == 1">
                <p>Doing reset...</p>
              </div>
 
              <div ng-show="ctrl.stage == 2">
                <p>If the email is already set it will be sent</p>
              </div>
              <hr>

            </div>
          </div>

        </div>
    </div>


</div>
