<div ng-controller="SureliaCtrl as surelia">
  <div style="width:100%;background:#ECECEC;padding:10px">
    <button ng-click="surelia.composeMessage()">{{'COMPOSE' | translate}}</button>
    <button ng-click="surelia.logout()">{{'LOGOUT' | translate}}</button>
    <span>{{'QUOTA' | translate}} : {{surelia.quota.usage | SizeFilter }}/{{surelia.quota.limit | SizeFilter }}  ({{surelia.quota.percentage}})</span>
    <br>
  </div>
  <div>
    <!--Sidebar-->
    <div style="width:300px;display:inline-block;vertical-align:top;padding:10px;background:#ECECEC;">
      <ul>
              <li ng-repeat="box in surelia.boxes track by $index" ng-click="surelia.listBox(box.boxName,{},true)" style="cursor:pointer">
              {{box.boxName | FirstLetterCapitalize }} 
              <span ng-show="box.meta.count > 0"> ({{box.meta.count}})</span>
              <span ng-show="surelia.currentBoxName==box.boxName"> *</span>
              </li>
              <li ng-repeat="special in surelia.specialBoxes track by $index" ng-click="surelia.listBox(special.path, {}, true)" style="cursor:pointer">
              {{special.specialName | FirstLetterCapitalize}} <span ng-show="surelia.currentBoxName==special.specialName"> *</span>
              <span ng-show="special.meta.count > 0"> ({{special.meta.count}})</span>
              </li>
              <li ng-click="surelia.listContact({search : null}, true)" style="cursor:pointer">
              {{ 'CONTACTS' | translate }}
              </li>
              <li ng-click="surelia.listView='settings';" style="cursor:pointer">
              {{ 'SETTINGS' | translate }}
              </li>
      </ul>
      <div>
        <p>
          {{currentUsername}}
        </p>
        <br>
        <a href="" ng-click="surelia.switchLang('en')">English</a> |
        <a href="" ng-click="surelia.switchLang('id')">Bahasa Indonesia</a>
      </div>
    </div>
    
    
    <!--Message List view-->
    <div style="width:60%;display:inline-block;vertical-align:top;" ng-show="surelia.listView=='messages'">
      <form ng-submit="surelia.listBox('search', {page : 1, limit : 10, search : surelia.searchString}, true)">
        <input ng-model="surelia.searchString" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}"></input>
      </form>
            {{surelia.currentListMeta.listStart}} - {{surelia.currentListMeta.listEnd}} / {{surelia.currentListMeta.total}}
      <button ng-click="surelia.listBoxPrev()">&larr;</button>
      <button ng-click="surelia.listBoxNext()">&rarr;</button>
      <button ng-click="surelia.listReload()">{{'RELOAD' | translate}}</button>
      <br>
      {{'SORT_BY' | translate}}  : 
      <button ng-click="surelia.listSort('DATE')">{{'DATE' | translate}}</button> 
      <button ng-click="surelia.listSort('FROM')">{{'FROM' | translate}}</button> 
      <button ng-click="surelia.listSort('SUBJECT')">{{'SUBJECT' | translate}}</button> 
      <button ng-click="surelia.listSort('SIZE')">{{'SIZE' | translate}}</button> | 
      <button ng-click="surelia.listReverse('ascending')">A - Z</button> 
      <button ng-click="surelia.listReverse('descending')">Z - A</button>
      <br>
      {{'MOVE_TO' | translate}}  : 
      <button ng-click="surelia.moveMessage('Archive')">{{'ARCHIVE' | translate}}</button>
      <button ng-click="surelia.moveMessage('Trash')">{{'TRASH' | translate}}</button>
      <button ng-repeat="box in surelia.moveToBoxes track by $index" ng-hide="(box.indexOf(surelia.currentBoxName) > -1)" ng-click="surelia.moveMessage(box)">{{box}}</button>
      <br>
      {{'FILTER' | translate}}  : 
      <button ng-click="surelia.listFilter('UNSEEN')">{{'UNREAD' | translate}}</button>
      <br>
      {{'FLAG_AS' | translate}}  : 
      <button ng-click="surelia.flagMessage('UNREAD')">{{'UNREAD' | translate}}</button>
      <button ng-click="surelia.flagMessage('READ')">{{'READ' | translate}}</button>
      <button ng-show="surelia.spamBox && surelia.currentBoxName.toLowerCase().indexOf('spam') < 0" ng-click="surelia.moveMessage('Spam')">Spam</button>
      <button ng-show="surelia.spamBox && surelia.currentBoxName.toLowerCase().indexOf('spam') > -1" ng-click="surelia.moveMessage('INBOX')">{{'NOT_SPAM' | translate}}</button>
      <br>
      <input type="checkbox" ng-model="surelia.selectAll" ng-true-value="true" ng-false-value="false" ng-change="surelia.checkAll()">
      <div ng-repeat="message in surelia.currentList track by $index" style="cursor:pointer;margin-top:3px;background:#ECECEC">
        <div style="display:inline-block">
          <input type="checkbox" checklist-model="surelia.currentSelection" checklist-value="message"></input>
        </div>
        <div style="display:inline-block" ng-click="surelia.retrieveMessage(message.seq, message.boxName, message.unread)">
          <span ng-show="message.unread">* </span>
          <span ng-hide="message.avatarImg" style="background:{{message.color}};padding:2px;">{{message.avatar}} -</span>
          <img ng-show="message.avatarImg" style="height:40px;width:40px;background:{{message.color}};padding:2px;" src="{{message.avatarImg}}">
          <span>{{message.seq}} -</span>
          <span>{{message.header.subject}} -</span>
          <span ng-hide="surelia.isDraft">{{message.header.from}} -</span>
          <span ng-show="surelia.isDraft"><span ng-repeat="to in message.header.to track by $index">{{to}} </span> -</span>
          <span am-time-ago="message.header.date"></span>
          <span ng-show="message.hasAttachments">[attachment]</span>
          <span ng-show="message.answered">[answered]</span>
          <span ng-show="message.selected"> *</span>
        </div>
      </div>
    </div>
    
    <!--Contact List view-->
    <div style="width:60%;display:inline-block;vertical-align:top;" ng-show="surelia.listView=='contacts'">
      <form ng-submit="surelia.listContact({page : 1, limit : 10, search : surelia.searchString}, true)">
        <input ng-model="surelia.searchString" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}"></input>
      </form>
            {{surelia.currentListMeta.listStart}} - {{surelia.currentListMeta.listEnd}} / {{surelia.currentListMeta.total}}
      <button ng-click="surelia.listContactPrev()">&larr;</button>
      <button ng-click="surelia.listContactNext()">&rarr;</button>
      <button ng-click="surelia.listContactReload()">{{'RELOAD' | translate}}</button>
      <br>
      {{'SORT_BY' | translate}}  : 
      <button ng-click="surelia.listContactReverse('ascending')">A - Z</button> 
      <button ng-click="surelia.listContactReverse('descending')">Z - A</button>
      <br>
      <button ng-click="surelia.newContact()">{{'ADD_CONTACT' | translate }}</button>
      <button ng-click="surelia.batchDeleteContact()">{{'DELETE' | translate }}</button>
      <br>
      <input type="checkbox" ng-model="surelia.selectAll" ng-true-value="true" ng-false-value="false" ng-change="surelia.checkAllContacts()">
      <div ng-repeat="contact in surelia.currentContactList track by $index" style="cursor:pointer;margin-top:3px;background:#ECECEC">
        <div style="display:inline-block">
          <input type="checkbox" checklist-model="surelia.currentContactSelection" checklist-value="contact"></input>
        </div>
        <div style="display:inline-block" ng-click="surelia.retrieveContact(contact._id)">
          <span ng-hide="contact.avatarImg" style="background:{{contact.color}};padding:2px;">{{contact.avatar}} -</span>
          <img ng-show="contact.avatarImg" style="height:40px;width:40px;background:{{message.color}};padding:2px;" src="{{contact.avatarImg}}">
          <span >{{contact.name}} -</span>
          <span>{{contact.emailAddress}} -</span>
        </div>
      </div>
    </div>
    
    <!--Setting List view-->
    <div style="width:60%;display:inline-block;vertical-align:top;" ng-show="surelia.listView=='settings'">
      <div style="cursor:pointer;margin-top:3px;background:#ECECEC" ng-click="surelia.view='setPassword';surelia.pwd={}" ng-show="gearman">
        {{'SET_PASSWORD' | translate}} 
      </div>
    </div>
    
    <!--Message view-->
    <div ng-show="surelia.view=='message' && surelia.currentMessage.parsed" style="width:60%;display:inline-block;vertical-align:top;background:#ECECEC">
            <div>
              <button ng-click="surelia.composeMessage(surelia.currentMessage, 'reply')">{{'REPLY' | translate}}</button>
              <button ng-click="surelia.composeMessage(surelia.currentMessage, 'all')">{{'REPLY_ALL' | translate}}</button>
              <button ng-click="surelia.composeMessage(surelia.currentMessage, 'forward')">{{'FORWARD' | translate}}</button>
              <button ng-click="surelia.archive()">{{'ARCHIVE' | translate}}</button>
              <button ng-show="surelia.spamBox && surelia.currentBoxName.toLowerCase().indexOf('spam') < 0" ng-click="surelia.markAsSpam()">Spam</button>
              <button ng-show="surelia.spamBox && surelia.currentBoxName.toLowerCase().indexOf('spam') > -1" ng-click="surelia.notSpam()">{{'NOT_SPAM' | translate}}</button>
              <button ng-hide="surelia.currentMessage.deleted" ng-click="surelia.removeMessage(surelia.currentMessage.seq, surelia.currentMessage.parsed.messageId, surelia.currentMessage.boxName)">{{'DELETE' | translate}}</button>
              <button ng-show="surelia.currentMessage.deleted" ng-click="surelia.removeMessage(surelia.currentMessage.attributes.uid, surelia.currentMessage.parsed.messageId, surelia.currentMessage.boxName, { permanentDelete : true })">{{'DELETE' | translate}}</button>
            </div>
            <div><b>{{surelia.currentMessage.parsed.subject}}</b></div>
            <div>{{'FROM' | translate}} : {{surelia.currentMessage.parsed.headers.from}}</div>
            <div>{{'TO' | translate}} : {{surelia.currentMessage.parsed.headers.to}}<span ng-show="surelia.currentMessage.parsed.headers.cc">, {{surelia.currentMessage.parsed.headers.cc}}</span>
            </div>
            <div>
              <span am-time-ago="surelia.currentMessage.parsed.date"></span>
               ({{surelia.currentMessage.parsed.date | amDateFormat:'dddd, DD MMMM YYYY, HH:mm'}})</div>
            <hr>
            <iframe srcdoc="{{surelia.currentMessage.content}}" id="message-content-frame"></iframe>
            <hr>
            <span ng-show="surelia.currentMessage.hasAttachments">[attachment]</span>
            <div>
              <ul>
                  <li ng-repeat="attachment in surelia.currentMessage.parsed.attachments track by $index" class="{{attachment.icon}}">
                  <span ng-show="attachment.ready" style="cursor:pointer" ng-click="surelia.getAttachment(attachment)">{{attachment.fileName}} - {{attachment.size | SizeFilter }}</span>
                  <span ng-hide="attachment.ready">{{attachment.fileName}} - {{attachment.size | SizeFilter }} <i class="fa fa-spinner"></i></span>
                </li>
              </ul>
            </div>
    </div>
    
    <!--Settings - setPassword view-->
    <div ng-show="surelia.view=='setPassword'" style="width:60%;display:inline-block;vertical-align:top;background:#ECECEC">
      <div>
              {{'OLD_PASSWORD' | translate }} : <input type="password" ng-model="surelia.pwd.oldPassword"><br>
              {{'NEW_PASSWORD' | translate }} : <input type="password" ng-model="surelia.pwd.newPassword"><br>
              {{'CONFIRM_NEW_PASSWORD' | translate }} : <input type="password" ng-model="surelia.pwd.confirmNewPassword"><br>
        <button ng-click="surelia.setPassword(surelia.currentUsername, surelia.pwd)">{{'UPDATE' | translate}}</button>
      </div>
    </div>
    
    <!--Contact view-->
    <div ng-show="surelia.view=='contact'" style="width:60%;display:inline-block;vertical-align:top;background:#ECECEC">
      <span ng-hide="surelia.currentContact.avatarImg" style="background:{{surelia.currentContact.color}};padding:2px;">{{surelia.currentContact.avatar}}</span>
      <img ng-show="surelia.currentContact.avatarImg" style="width:40px;height:40px;" src="{{surelia.currentContact.avatarImg}}"><br>
      <button ngf-select="surelia.cropAvatar($files, $invalidFiles)" multiple
        ngf-max-height="1000" ngf-max-size="1MB" accept="image/*" class="btn btn-default btn-file">
       <i class="fa fa-paperclip"></i> {{'UPLOAD' | translate}}
       </button>
      <div ng-show="surelia.showCropArea">
        <div class="cropArea">
          <img-crop image="surelia.rawAvatar" area-type="square" result-image="surelia.croppedAvatar"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{surelia.myCroppedImage}}" /></div>
        <button ng-click="surelia.cancelCropAvatar()">{{'CANCEL' | translate}}</button>
        <button ng-click="surelia.uploadAvatar()">{{'UPLOAD' | translate}}</button>
      </div>
      <div ng-show="surelia.currentContact.emailAddress && !surelia.contactForm && !surelia.showCropArea">
              {{ 'NAME' | translate }} : {{surelia.currentContact.name}}<br>
              {{ 'EMAIL' | translate }} : {{surelia.currentContact.emailAddress}}<br>
              {{ 'OFFICE_ADDRESS' | translate }} : {{surelia.currentContact.officeAddress}}<br>
              {{ 'HOME_ADDRESS' | translate }} : {{surelia.currentContact.homeAddress}}<br>
              {{ 'PHONE' | translate }} : {{surelia.currentContact.phone}}<br>
        <button ng-click="surelia.editContact()">{{'EDIT' | translate}}</button>
        <button ng-click="surelia.deleteContact(surelia.currentContact._id)">{{'DELETE' | translate}}</button>
      </div>
      <div ng-show="surelia.contactForm && !surelia.showCropArea">
              {{'NAME' | translate }} : <input type="text" ng-model="surelia.currentContactForm.name"><br>
              {{'EMAIL' | translate }} : <input type="text" ng-model="surelia.currentContactForm.emailAddress"><br>
              {{'OFFICE_ADDRESS' | translate }} : <input type="text" ng-model="surelia.currentContactForm.officeAddress"><br>
              {{'HOME_ADDRESS' | translate }} : <input type="text" ng-model="surelia.currentContactForm.homeAddress"><br>
              {{'PHONE' | translate }} : <input type="text" ng-model="surelia.currentContactForm.phone"><br>
        <button ng-click="surelia.discardEditContact()">{{'DISCARD' | translate}}</button>
        <button ng-show="surelia.contactFormMode=='edit'" ng-click="surelia.updateContact(surelia.currentContactForm)">{{'UPDATE' | translate}}</button>
        <button ng-show="surelia.contactFormMode=='add'" ng-click="surelia.addContact(surelia.currentContactForm)">{{'ADD' | translate}}</button>
      </div>

    </div>
    

    <!--Compose view-->
    <form ng-show="surelia.compose" ng-submit="surelia.sendMessage(surelia.newMessage)" ng-class="{'compose-container':(surelia.composeMode=='corner' || surelia.composeMode=='minimaze' ), 'compose-container-maximaze':surelia.composeMode=='maximaze'}">
      <div class='compose-header'>{{'COMPOSE' | translate}}
        <span class="compose-header-button" ng-click="surelia.saveDraft()">X</span>
        <span class="compose-header-button" ng-hide="surelia.composeMode=='maximaze' || surelia.composeMode=='minimaze'" ng-click="surelia.resizeCompose('maximaze')">/</span>
        <span class="compose-header-button" ng-hide="surelia.composeMode=='corner'" ng-click="surelia.resizeCompose('corner')">[]</span>
        <span class="compose-header-button" ng-click="surelia.resizeCompose('minimaze')">-</span>
      </div>
      <div class='inner' ng-hide="surelia.composeMode=='minimaze'">
        <fieldset>
          <div class="form-group">
            <div class="col-lg-12" mass-autocomplete>
             <span class="compose-label">Kepada</span>
             <span class="compose-label-cc-button" ng-hide="surelia.cc" ng-click="surelia.showCc()">Cc</span>
             <span class="compose-label-bcc-button" ng-hide="surelia.bcc" ng-click="surelia.showBcc()">Bcc</span>
              <input type="text" ng-click="surelia.nextSuggestion=false;" ng-model="surelia.newMessage.recipients" class="compose-input-to form-control" mass-autocomplete-item="surelia.option_delimited" ng-change="surelia.currentAutocomplete='recipients'">
            </div>
          </div>
          <div class="ac-container" ng-show="surelia.nextSuggestion && surelia.contactCandidatesAutocomplete.recipients.length > 0" style="position:absolute;">
            <ul class="ac-menu">
              <li ng-repeat="result in surelia.contactCandidatesAutocomplete.recipients track by $index"
                ng-if="$index > -1"
                class="ac-menu-item"
                ng-class="$index == selected_index ? 'ac-state-focus' : ''">
                <a href ng-click="surelia.select_suggested(result.value, 'recipients')" ng-bind-html=result.label> </a>
              </li>
            </ul>
          </div>
          <div class="form-group" ng-show="surelia.cc">
            <div class="col-lg-12" mass-autocomplete>
             <span class="compose-label">Cc</span>
              <input type="text" ng-click="surelia.nextSuggestion=false;" ng-model="surelia.newMessage.cc" class="compose-input-cc form-control" mass-autocomplete-item="surelia.option_delimited" ng-change="surelia.currentAutocomplete='cc'">
            </div>
          </div>
          <div class="ac-container" ng-show="surelia.nextSuggestion && surelia.contactCandidatesAutocomplete.cc.length > 0" style="position:absolute;">
            <ul class="ac-menu">
              <li ng-repeat="result in surelia.contactCandidatesAutocomplete.cc track by $index"
                ng-if="$index > -1"
                class="ac-menu-item"
                ng-class="$index == selected_index ? 'ac-state-focus' : ''">
                <a href ng-click="surelia.select_suggested(result.value, 'cc')" ng-bind-html=result.label> </a>
              </li>
            </ul>
          </div>
          <div class="form-group" ng-show="surelia.bcc">
            <div class="col-lg-12" mass-autocomplete>
             <span class="compose-label">Bcc</span>
              <input type="text" ng-click="surelia.nextSuggestion=false;" ng-model="surelia.newMessage.bcc" class="compose-input-bcc form-control" mass-autocomplete-item="surelia.option_delimited" ng-change="surelia.currentAutocomplete='bcc'">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
             <span class="compose-label">Judul</span>
              <input type="text" ng-click="surelia.nextSuggestion=false;" ng-model="surelia.newMessage.subject" class="compose-input-subject form-control">
            </div>
          </div>
          <div class="ac-container" ng-show="surelia.nextSuggestion && surelia.contactCandidatesAutocomplete.bcc.length > 0" style="position:absolute;">
            <ul class="ac-menu">
              <li ng-repeat="result in surelia.contactCandidatesAutocomplete.bcc track by $index"
                ng-if="$index > -1"
                class="ac-menu-item"
                ng-class="$index == selected_index ? 'ac-state-focus' : ''">
                <a href ng-click="surelia.select_suggested(result.value, 'bcc')" ng-bind-html=result.label> </a>
              </li>
            </ul>
          </div>
          <div>
              <text-angular ng-click="surelia.nextSuggestion=false;" ta-unsafe-sanitizer="true" ng-model="surelia.newMessage.html"></text-angular>
          </div>
          <div class="form-group" ng-click="surelia.nextSuggestion=false;">
            <div class="col-lg-10">
             <button ngf-select="surelia.uploadFiles($files, $invalidFiles)" multiple
               ngf-max-height="5000" ngf-max-size="16MB" class="btn btn-default btn-file">
              <i class="fa fa-paperclip"></i> Lampiran
             </button>
           </div>
           <ul>
             <li ng-show="surelia.newMessage.attachments.length > 0" ng-repeat="a in surelia.newMessage.attachments track by $index" class="compose-attachments" ng-mouseenter="a.hover=true" ng-mouseleave="a.hover=false">
              {{a.filename}}
               <span ng-show="!a.hover && a.progress.status=='uploading'"> - {{'UPLOADING' | translate}}</span>
               <span ng-show="!a.hover && a.progress.status=='failed'"> - {{'UPLOAD_FAILED' | translate}} </span>
               <span ng-show="!a.hover && a.progress.status=='uploaded'"><i class="fa fa-check"></i></span> 
               <span ng-show="!a.hover && a.progress.percentage && a.progress.status=='uploading'">{{a.progress.percentage}} %</span>
               <span ng-show="a.hover" ng-click="surelia.cancelAttachment(a, $index)"><i class="fa fa-close"></i></span> 
             </li>
           </ul>
          </div>
        </fieldset>
        <div class='button-bar' ng-click="surelia.nextSuggestion=false;">
            <button class="btn btn-success" type="reset" ng-click="surelia.discardDraft()"><i class="fa fa-envelope-o"></i> {{'DISCARD' | translate}}</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-envelope-o"></i> {{'SEND' | translate}}</button>
        </div>
      </div>
    </form>


  </div>
</div>
